<div class="container">

  <h1>Debug</h1>

  <hr />
  <p>Submit a transaction to test the predictor models.</p>
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <div class="form-row align-items-center">
      <div class="col">
        <label class="sr-only" for="amountInput">Amount</label>
        <input type="number" class="form-control" id="amountInput" formControlName="amount" placeholder="$0.00"/>
      </div>
      <div class="col">
        <label class="sr-only" for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" formControlName="name" placeholder="Name"/>
      </div>
      <div class="col">
        <input type="date" class="form-control" id="dateInput" formControlName="date" />
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary" [disabled]="!transactionForm.valid">Submit</button>
      </div>
    </div>

  </form>


  <div *ngIf="transaction != null">
    <p >
      prediction:

      <b>${{transaction.amount}}</b>
      <span *ngIf="transaction.amount < 0"> to </span>
      <span *ngIf="transaction.amount > 0"> from </span>
      <b>{{transaction.name}}</b> on <b>{{transaction.date}}</b>.
      <span *ngIf="transaction.isRecurringPrediction.label == 1" class="badge badge-primary">recurring</span>
      <span class="badge badge-info">{{transaction.categoryPrediction.label}}</span>
    </p>
  </div>


</div>



