<nav>
  <div class="row align-items-center">
    <div class="col-md-2">
      <img class="logo" height="45" src="assets/img/stashdash-wit.png" />
    </div>

    <div class="col-md-1 offset-md-1">
      <a [class.disabled]="currentRoute == '/home'">Overzicht</a>
    </div>
    <div class="col-md-1">
      <a>Besparen</a>
    </div>

    <div class="col-sm-2 offset-md-3">
      <a><fa-icon icon="user"></fa-icon> Mijn Account</a>
    </div>

    <div class="col-md-2">
      <a><fa-icon icon="sign-out-alt"></fa-icon> Uitloggen</a></div>
  </div>
</nav>
