<app-navbar></app-navbar>

<div class="content" *ngIf="bankAccount != null">

    <div class="row btn-bar">
      <div class="col-3">
        <p>Je bent hier: <b>Overzicht</b></p>
      </div>

      <div class="col-4 offset-2">

        Bankrekening:

        <div class="btn-group">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{bankAccounts[0].product}}
            </button>
            <div class="dropdown-menu">
              <a 
                class="dropdown-item" 
                *ngFor="let bankAccount of bankAccounts" 

                (click)="setBankAccount(bankAccount)">
                {{bankAccount.product}} <br />
                <span class="iban">{{bankAccount.iban}}</span>
              </a>
            </div>
          </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col">
            <div class="float-right">
              <span >Periode: </span>
              <div class="btn-group">
                <div class="btn-group">
                  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{month}}
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" *ngFor="let month of months" (click)="setMonth(month.id)">{{month.name}}</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{year}}
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" *ngFor="let year of years" (click)="setYear(year)">{{year}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </div>



    <div class="row balance-bar">
      <div class="col current">
        <div class="row">
          <div class="col-5" id="real-time-title">
              <fa-icon icon="clock"></fa-icon>
              <span>Real-time</span>
          </div>
          <div class="col">
            <div class="row"><div class="col">Saldo: <sup><fa-icon icon="info-circle"></fa-icon></sup></div></div>
            <div class="row"><div class="col number">&euro;{{bankAccount.balance | number:'1.2-2'}}</div></div>  
          </div>

          <div class="col">
            <div class="row"><div class="col">Balans: <sup><fa-icon icon="info-circle"></fa-icon></sup></div></div>
            <div class="row"><div class="col number">&euro;{{bankAccount.balancechange | number:'1.2-2'}}</div></div>     
          </div>
        </div>
      </div>
      <div class="col expected">
        <div class="row">
          <div class="col-5" id="expected-title">
              <fa-icon icon="forward"></fa-icon>
              <span>Verwacht eind deze maand</span>
          </div>

          <div class="col">
            <div class="row"><div class="col">Saldo: <sup><fa-icon icon="info-circle"></fa-icon></sup></div></div>
            <div class="row"><div class="col number">&euro;{{bankAccount.predictedBalance | number:'1.2-2'}}</div></div>  
          </div>

          <div class="col">
            <div class="row"><div class="col">Balans: <sup><fa-icon icon="info-circle"></fa-icon></sup></div></div>
            <div class="row"><div class="col number">
              &euro;<span *ngIf="bankAccount.predictedBalanceChange >= 0">+</span>{{bankAccount.predictedBalanceChange | number:'1.2-2'}}
            </div></div>     
          </div>
        </div>  
      </div>
    </div>

    <div class="row">
      <div class="col">

      </div>
      <div class="col">
        <div class="row">
          <div class="col elevated-transaction">
            <div class="row"><div class="col"><h5>Vaste lasten hoger dan normaal</h5></div></div>

            <div class="row" *ngIf="elevatedRecurringTransactions?.length == 0">
              <div class="col">Geen abnormale transacties</div>
            </div>

            <ng-container
              *ngFor="let transaction of elevatedRecurringTransactions">
              <div class="row">
                <div class="col text-truncate">{{transaction.name}}</div>
                <div class="col">
                  
                  <div class="row">
                    <div class="col">&euro;{{transaction.amount}}</div>
                  </div>
                  <div class="row">
                    <div class="col">{{transaction.category}}</div>
                  </div>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" (click)="openModal()">Besparen</button>
                </div>  
              </div>
              <div class="row">
                <div class="col">
                  <hr />
                </div>
              </div>
            </ng-container>
            
          </div>
        </div>
        <div class="row">
          <div class="col elevated-transaction">
            <div class="row"><div class="col"><h5>Overige uitgaven hoger dan normaal</h5></div></div>
          </div>
        </div>
      </div>
    </div>




  <!-- <div *ngIf="bankAccount != null">
    </div>
    
    <div class="row">
      <div class="col-6">
        <app-transaction-table></app-transaction-table>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
          </div>
      </div>
    </div> -->

</div>




<app-phone-modal></app-phone-modal>