.content {
     padding: 0 180px;
}

.iban {
    color: grey;
    font-size: 12px;
}

.btn-primary {
    background-color: white;
    border-color: white;
    color: black;
    font-family: ubuntu-regular;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle {
    color: black;
    background-color: white;
    border-color: white;
    font-family: ubuntu-regular;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {

    box-shadow: 0 0 0 .2rem rgba(0, 0, 0,.5);

}

.btn-primary.focus, .btn-primary:focus {

    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.5);

}

.content .container {
    margin: 0;
}



#real-time-title {
    color: #888b8f;
    display: grid;  
    grid-template-columns: 50px auto;
}

#real-time-title>fa-icon {
    font-size: 36px;
    margin-right: 10px;
}

#real-time-title>span {
    font-family: ubuntu-bold;
    font-size: 18px;
    align-self: center;
}

#expected-title {
    color: #b2b6bb;
    display: grid;  
    grid-template-columns: auto auto;
}

#expected-title>fa-icon {
    font-size: 36px;
    margin-right: 10px;
}

#expected-title>span {
    font-family: ubuntu-bold;
    font-size: 18px;
}

.btn-bar {
    margin: 20px 0;
}

.balance-bar {
    color: #fffeff;
    background-color: #888b8f;
    margin: 0 5px;
}

.balance-bar>.current {
    background-color: #b2b6bb;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
}

.balance-bar>.current>.row {
    padding: 15px;
}

.balance-bar>.expected>.row>div {
    padding: 15px;
}

.number {
    font-family: ubuntu-bold;
}

.elevated-transactions {
    background-color: #f3f2f3;
    margin: 15px 20px 0 5px;
    padding: 40px 35px;
}

.elevated-transactions h5 {
    font-family: ubuntu-bold;
    font-size: 20px;
}

.elevated-transaction {
    padding: 20px;
}

.elevated-transaction:nth-child(even) {
    background-color: #e0e0e0;
}