.transaction-table {
    margin: 15px 20px;
}

.title {
    font-family: ubuntu-bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.group-title {
    background-color: #3a425a;
    color: #fffeff;
    padding: 13px 17px;
}

.transaction {
    padding: 10px 0;
    border-bottom: 2px solid #3a425a;
}

.green {
    color: #2ba266;
    font-family: ubuntu-bold;
}

.red {
    color: #a22b5f;
    font-family: ubuntu-bold;
}

/* .transaction:nth-child(odd) {
    background-color: white;
} */