.overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 1000;

    background-color: rgba(0, 0, 0, .3); 
}

.phone-modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 1001;

    height: 500px;
    width: 460px;
    background-color: #f3f2f3;
}

.hidden {
    display: none;
}
.title {
    padding: 20px 20px 0;
    font-size: 18px;
    font-family: ubuntu-bold;
}
.subscription {
    cursor: pointer;
    margin: 30px 5px;
    color: white;
    background-color: #3a425a;
}

.subscription:hover {
    background-color: #a22b5f;
}

.highlight {
    background-color: #a22b5f;
}