.phone-modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 1000;

    height: 100px;
    width: 100px;
    background-color: black;
}

.hidden {
    display: none;
}